:root{
  /*COLOR PALETTE*/
  --darkblue: #0d0826;
  --medblue: #171038;
  --linkcolor:#ff0076;
  --babyblue:#abb2ce;
  --brightblue:#241d5e;
  /* -------------------- */
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  flex-wrap:wrap;
  width: fit-content;
  height: fit-content;
  padding: 2rem;

  font-size: 100%;

  margin-top: 2rem;
  border-radius: 20px;
  background-color: rgb(23 16 56);

  text-align: center;
}
.intro-box > p {
  padding: 5px;
  margin: 0;
}

@media (max-width: 450px) {
 .intro-box {
   font-size: 85%;
 }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-img {
  width: 25px;
  height: 25px;
  padding: 10px;
  padding-bottom: 0;
}
.icon-img:hover {
  opacity: 0.7;
}
