:root{
  /*COLOR PALETTE*/
  --darkblue: #0d0826;
  --medblue: #171038;
  --linkcolor:#ff0076;
  --babyblue:#abb2ce;
  --babybluedark:#878da3;
  --brightblue:#241d5e;
  --titlebarcolor: rgb(36 29 94 /.8);
  /* -------------------- */

}

.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;


  margin: 10px;

  width: 60vw;
  height: fit-content;
  padding: 2rem;

  border-radius: 20px;
  background-color: rgb(23 16 56 / 0.95);
}
.container-fluid > img {
  max-width: 100%;
}
.container-fluid > p{
  text-align: justify;

  font-size: 115%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 500px) {
  .container-fluid > p {
  }
  .container-fluid {
    width: 70vw;
  }
}

.project-title-img {
  width: 300px;
  height: 100%;

  justify-content: center;
  border-radius: 15px;
}

.container-fluid > iframe {
  max-width: 100%;
}


.bkg-image {

  position:fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
.bkg-image img {
  filter: blur(10px);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}
a {
  color: var(--linkcolor);
}

.video-container {
  width: 100%;
  height:100%;
  max-width: 800px; /* Optional: limits max size */
  aspect-ratio: 16 / 9;

}
.video-container iframe {
  width: 100%;
  height: 100%;

}
iframe {
  border-radius: 20px;
}

.store-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  column-gap: 30px;
  padding: 2rem;
}
.store-link-container img {
  height: 50px;
  width: 100%;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.horizontal > img {
  max-width: 50%;
  min-width: 250px;
  padding-bottom: 10px;
}
.wrapped-container > p {
  padding-left: 1rem;
  text-align: justify;
  font-size: 115%;
}

.wrapped-image {
  float: right;
  margin-left: 30px; /* Space between image and text */
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  gap: 10px;
}
.grid > img {
  max-width: 100%;
  max-height: 100%;
}


